@font-face {
  font-family: 'KoulenCustom';
  src: url('./assets/fonts/Koulen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  /* Force the app to use the provided Koulen font */
  font-family: 'KoulenCustom', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(27,113,255,255);
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
